body{
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif,fantasy;
}

.welcome{
  color: orange;
  font-size: 3rem;
  /* align-self: center; */
}

#start{
  align-self: center;
  background-color: orange;
  color: yellow;
  font-size: 1.2em;
  height: 70px;
  width: 130px;
  border: orange;
  border-radius: 25px;
}

#start:active{
  background-color: blue;
}

.header{
  display: grid;
  /* background-color: orange; */
  grid-template-areas: 
    "out-of wrong-correct";
  gap: 1px;
  padding: 3px;
  margin: 0px;
}

#out-of{
  color: #3151D9;
  font-size: 1.2em;
  grid-area: out-of;
}

#wrong-correct{
  font-size: 1.2em;
  grid-area: wrong-correct;
}
#correct{
  color: green;
} 
#wrong{
  color: red;
}
#board{
  transition: transform 1.5s;
}


#question{
  color: #3151D9;
}

input[type="radio"] {
    display: none;
}

label {
    display: block;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 8px;
    color: #ff6600;
    background-color: #ffffcc; /* Default background color for labels */
    /* cursor: pointer; */
}

input[type="radio"]:checked + label {
    background-color: skyblue; /* Change the background color for the checked label */
}

#check-answer,#nextBtn{
  background-color: #16DEC0;
  color: #11d;
  width: 120px;
  height: 50px;
  border-radius: 15px;
  border-color: orange;
}
#check-answer:active,#nextBtn:active{
  background-color: skyblue;
  border-width: 0px;
  color: orangered;
}
#check-answer:disabled{
  background-color: #7B807B;
  border: 0px;
  color: #fff;

}
