{% extends "base.html" %}

{% block content %}
<div class="header">
  <div id="out-of">
   0/30 questions 
  </div>
  <div id="wrong-correct">
    <span id="correct">Correct: 0</span><span style="color:#fff;"> | </span><span id="wrong">Wrong: 0</span>
  </div>
</div>
<hr>
<div id="board"></div>
<br>
<div align="center" id="btns">
  <button id="check-answer" type="button">Check Answer</button>
  <button id="nextBtn" type="button" style="display:none;">NEXT</button>
</div>

<div id="score" align="center"></div>

{% endblock %}

